div(ng-if="type == $root.APP.matchingTypes.first")
  input.form-control(type="text", ng-model="model", typeahead-min-length="0", uib-typeahead="decision for decision in decisions", required)
div(ng-if="type == $root.APP.matchingTypes.all")
  input.form-control(type="number", ng-model="model", required)
