.decision-table
  .table-responsive: table.table.table-hover.decision-table__table(dragcolumns="table.fields", dragcolumns-callback="onReorderFields")
    thead(table-fixed-row): tr
      th.decision-table__column--index #
      th.border-right.decision-table__column--title  Title
        .small.text-light Description
      th.decision-table__column--condition(dragcolumns-item="condition", dragcolumns-item-key="condition.id", ng-repeat="condition in table.fields", ng-click="editField(condition)",
      ng-class="{'is-deleted': condition.isDeleted}") {{condition.title}}

        .small.text-light {{condition.key}}
          span(ng-if="condition.preset") &#32;{{condition.preset.condition | condition}} {{condition.preset.value | string}}
      th.border-left.decision-table__column--decision.decision-table__add-column
        span(ng-if="table.matchingType == $root.APP.matchingTypes.first") Decision
        span(ng-if="table.matchingType == $root.APP.matchingTypes.all") Scoring
        add-new-field.decision-table__add-column__icon(table="table") +
      th.decision-table__column--action Action

    tbody(ui-sortable="sortableOptions", ng-model="table.rules")
      tr(ng-repeat="rule in table.rules", ng-class="{'is-deleted': rule.isDeleted, 'warning': isWarningRule(rule)}", skip-form="rule.isDeleted",
      ng-form="ruleForm", ng-click="editRule(rule)")
        td.decision-table__handler: i.glyphicon.glyphicon-menu-hamburger
        td.border-right
          div(ng-if="rule.isEditing")
            input.form-control(ng-model="rule.title", placeholder="Title")
            input.form-control(ng-model="rule.description", placeholder="Description")
          div(ng-if="!rule.isEditing")
            b {{rule.title}}
            .small {{rule.description}}
        td(ng-repeat="condition in rule.conditions", ng-class="{'is-deleted': table.fields[$index].isDeleted}")
          field-static(ng-if="!rule.isEditing", condition="condition.condition", value="condition.value")
          field(ng-if="rule.isEditing", type="table.fields[$index].preset ? $root.APP.types.bool : table.fields[$index].type", condition="condition.condition", value="condition.value")
        td.border-left
          div.form-control-static(ng-if="!rule.isEditing") {{rule.than}}
          decision-input(ng-if="rule.isEditing" type="table.matchingType", decisions="decisions", model="rule.than")
        td: .decision-table__actions.form-control-static
          div(ng-if="rule.isDeleted")
            a.btn.btn-default(ng-click="revertRule(rule)"): i.glyphicon.glyphicon-repeat
          div(ng-if="!rule.isDeleted")
            a.btn.btn-success-text(ng-click="saveRule(rule, ruleForm)", stop-propagation="click", ng-if="rule.isEditing"): i.glyphicon.glyphicon-ok
            a.btn(ng-click="editRule(rule)", ng-if="!rule.isEditing"): i.glyphicon.glyphicon-pencil
            a.btn(ng-click="copyRule(rule)", stop-propagation="click"): i.glyphicon.glyphicon-duplicate
            a.btn.btn-danger-text(ng-click="deleteRule(rule)"): i.glyphicon.glyphicon-remove

  table.table.decision-table__table
    tbody.decision-table__add-row: tr: td
      a(ng-click="addNewRule()") + Add new row

  table.table.decision-table__table
    tbody: tr
      th
        span(ng-if="table.matchingType == $root.APP.matchingTypes.first") Default Decision
        span(ng-if="table.matchingType == $root.APP.matchingTypes.all") Default Score
      td: decision-input(type="table.matchingType", decisions="decisions", model="table.defaultDecision")
      td: input.form-control(type="text", ng-model="table.defaultTitle", placeholder="Title", required)
      td: input.form-control(type="text", ng-model="table.defaultDescription", placeholder="Description", required)

br
.row: .col-sm-6
  h6.form-control-heading Matching type
.row
  .col-sm-6
    select-matching-type(ng-model="table.matchingType", callback="onChangeMatchingType")
  .col-sm-6(ng-transclude)
