div(ng-if="type == $root.APP.matchingTypes.first")
  input.form-control(type="text", ng-model="$parent.model", typeahead-min-length="0",
    uib-typeahead="decision for decision in getDecisions($viewValue) | filter:$viewValue ",
    validate="alphadashed",
    typeahead-on-select="onSelect($item)",
    required)
div(ng-if="type == $root.APP.matchingTypes.all")
  input.form-control(type="number", ng-model="$parent.model", required)
