div.doubled-input
  input.form-control(ng-model="values[0]", ng-disabled="disabled", ng-required="required")
  //| {{separator}}
  input.form-control(ng-model="values[1]", ng-disabled="disabled", ng-required="required")

