p
  .form-control-heading-small Project
  .checkbox: label
    input(type="checkbox", checklist-model="model", checklist-value="'edit_project'", ng-required="isRequired")
    | Edit
  .checkbox: label
    input(type="checkbox", checklist-model="model", checklist-value="'delete_project'", ng-required="isRequired")
    | Delete
p
  .form-control-heading-small Data
  .checkbox: label
    input(type="checkbox", checklist-model="model", checklist-value="'create'", ng-required="isRequired")
    | Create
  .checkbox: label
    input(type="checkbox", checklist-model="model", checklist-value="'read'", ng-required="isRequired")
    | Read
  .checkbox: label
    input(type="checkbox", checklist-model="model", checklist-value="'check'", ng-required="isRequired")
    | Check
  .checkbox: label
    input(type="checkbox", checklist-model="model", checklist-value="'update'", ng-required="isRequired")
    | Update
  .checkbox: label
    input(type="checkbox", checklist-model="model", checklist-value="'delete'", ng-required="isRequired")
    | Delete
p
  .form-control-heading-small API Keys
  .checkbox: label
    input(type="checkbox", checklist-model="model", checklist-value="'create_consumers'", ng-required="isRequired")
    | Create
  .checkbox: label
    input(type="checkbox", checklist-model="model", checklist-value="'delete_consumers'", ng-required="isRequired")
    | Delete
p
  .form-control-heading-small Users
  .checkbox: label
    input(type="checkbox", checklist-model="model", checklist-value="'update_users'", ng-required="isRequired")
    | Update
  .checkbox: label
    input(type="checkbox", checklist-model="model", checklist-value="'add_users'", ng-required="isRequired")
    | Add
  .checkbox: label
    input(type="checkbox", checklist-model="model", checklist-value="'delete_users'", ng-required="isRequired")
    | Delete
