//$navbar-default-bg: #312312
//$light-orange: #ff8c00
//$navbar-default-color: $light-orange


$table-bg: white
$brand-primary: #6b4d7c
$body-bg: #f9f9f9

//$btn-default-bg: #f1f1f1

@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap"

$table-footer-bg: #f9f9f9

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
  display: none !important

[ui-sref], [ng-click], [on-click]
  cursor: pointer

.text-light
  font-weight: 400

.editor
  //padding-top: 60px
  &__title
    font-size: 24px !important
  &__description
    font-size: 18px !important
  &__title, &__description
    background-color: transparent
    border: 0
    border-bottom: 1px solid $input-group-addon-border-color
    box-shadow: none !important
    border-radius: 0
    height: auto
    padding-bottom: 7px
    padding-left: 7px
  &__example
    margin-top: 20px

.decision-table

  border-radius: 4px

  border: 1px solid $table-border-color
  box-sizing: border-box
  box-shadow: 0 2px 10px -5px rgba(black, .5)

  .is-deleted
    opacity: .4
  th.is-deleted
    text-decoration: line-through

  &__add-row
    border-top: 0 !important
    td, th
      border-left: 0 !important
      padding: 0 !important

    th[ng-click]
      text-decoration: underline
    a
      display: block
      width: 100%
      height: 100%
      padding: $table-cell-padding
      cursor: pointer
      user-select: none

      text-decoration: none
      color: $brand-primary

      &:hover
        background-color: #f1f1f1

  &__add-column
    position: relative
    user-select: none
    &__icon
      width: 30px
      height: 30px
      line-height: 25px

      vertical-align: middle

      color: $gray

      border: 1px solid $table-border-color
      border-radius: 50%
      display: block

      position: absolute
      margin-top: -15px
      top: 50%
      left: -16px

      text-decoration: none
      background-color: $table-bg

      cursor: pointer
      text-align: center

      //&:after
      //  content: ''
      //  width: 1px
      //  height: 5px
      //  background-color: $table-border-color
      //  position: absolute
      //  top: 100%
      //  left: 14px

      &:hover
        background-color: #f9f9f9
        text-decoration: none
        color: #666
      &:active
        background-color: #f6f6f6

  &__description
    color: $gray
    position: absolute
    left: 100%
    width: 200px
    text-align: left
    opacity: .6
    margin-left: 10px
    font-size: 12px

    top: 50%
    transform: translateY(-50%)
    //bottom: $table-cell-padding

    overflow: hidden
    text-overflow: ellipsis

    &-wrap
      position: relative

  &__condition
    &.is-matched
      background-color: rgba(green, .3)
    &.is-unmatched
      background-color: rgba(red, .3)
  &__default-result
    label + .form-control
      margin-left: 5px
  &__actions
    margin: -1 * $table-cell-padding
    display: inline-block
    .btn
      border: 0
  .table
    margin: 0
    td, th
      text-align: center
      vertical-align: middle

    tr.ui-sortable-helper
      border: 1px solid $table-border-color
      box-shadow: 0 2px 10px -5px rgba(black, .5)
      background-color: #fff

    tbody, thead
      th, td
        &:first-child
          border-right: 1px solid $table-border-color
        &:last-child
          border-left: 1px solid $table-border-color
          width: 100px
    tfoot, thead
      background-color: $table-footer-bg

    .checkbox
      margin: 0
      input
        margin: 0
        position: static

.decision-table__column
  &--condition
    min-width: 120px
  &--index
    min-width: 50px
    max-width: 50px
  &--decision
    min-width: 120px
    background-color: rgba($brand-primary, .03)
  &--action
    min-width: 130px
  &--title
    min-width: 120px

.btns-bar
  margin-top: 20px
//box-shadow: 0 2px 10px -5px rgba(black, .5)

.border-left
  border-left: 1px solid $table-border-color

.border-right
  border-right: 1px solid $table-border-color

tr.ui-sortable-helper
  display: inline-table

.history-page
//padding-top: 50px

.history
  border-radius: 4px
  overflow: hidden
  box-sizing: border-box
  border: 1px solid $table-border-color
  box-shadow: 0 2px 10px -5px rgba(black, .5)

  th, td
    vertical-align: middle !important
  &__table
    margin: 0
  &__head
    background: #f9f9f9
    th
      text-align: left

  &_details
    padding: 0 !important
    background: #f1f1f1
  &_details-table.table

    background: none
    border: none
    margin: 0
//color: white
.history-detail
  &__table
    margin-top: 20px

.page-title
  font-size: 24px
  margin: 10px 0 20px 10px

.footer
  padding: 20px 0

.field
  .input-group-addon
    select
      width: 38px

.alert-btn-right
  float: right
  margin-top: -8px

.form-control.ng-invalid.ng-dirty, .ng-submitted .form-control.ng-invalid

  &:not(:focus)
    border-color: $state-danger-text
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px lighten($state-danger-text, 20%)

@keyframes rotate360
  from
    transform: rotate(0deg)
  from
    transform: rotate(359deg)

.btn-loading
  .btn-loader
    display: none
    margin-left: 10px
    .glyphicon
      animation: rotate360 1s linear infinite

  &.is-active
    .btn-loader
      display: inline-block

.preview
  position: relative
  &__external
    position: absolute
    top: 5px
    right: 5px
  &__response
    min-height: 50px

