.welcome.welcome-index: .container
  .row
    .col-md-6.col-md-push-3
      h1 Welcome to Gandalf

      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
      p Nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore


      p.btn-actions
        a.btn.btn-primary-clear(ui-sref="welcome-project-add") Continue
