p.list-group
  a.list-group-item(ui-sref="decision-details({id: table.id})", ng-repeat="table in tables") {{table.title || 'Untitled project'}}
    i.pull-right {{table.description}}
div: a.btn.btn-default(ui-sref="decision-create") + Add table


