.alert.alert-warning(ng-if="!saved").ng-cloak
  .alert-btn-right
    button.btn.btn-success.btn-loading(ng-click="save()", ng-class="{'is-active': isSaving}") Save
      .btn-loader
        .glyphicon.glyphicon-refresh
  p This table have unsaved data. You need to save changes manually.

.alert.alert-danger(ng-if="error").ng-cloak
  h4 Error
  p Check you data and <b>try again</b>.

.editor.ng-cloak(ng-if="table")

  .form-group: input.form-control.editor__title(ng-model="table.title", placeholder="Untitled project")
  .form-group: input.form-control.editor__description(ng-model="table.description", placeholder="Description")

  .decision-table
    .table-responsive: table.table.table-hover
      thead: tr
        th.decision-table__column--index #
        th.border-right.decision-table__column--title  Title
          .small.text-light Description
        th.decision-table__column--condition(ng-repeat="condition in table.fields", ng-click="editField(condition)", ng-class="{'is-deleted': condition.isDeleted}") {{condition.title}}
          .small.text-light {{condition.alias}}
            span(ng-if="condition.preset") &#32;{{condition.preset.condition | condition}} {{condition.preset.value | string}}
        th.border-left.decision-table__column--decision.decision-table__add-column Decision
          a.decision-table__add-column__icon(ng-click="addNewField()") +
        th.decision-table__column--action Action

      tbody(ui-sortable="sortableOptions", ng-model="table.rules")
        tr(ng-repeat="rule in table.rules", ng-class="{'is-deleted': rule.isDeleted}", ng-form="ruleForm", ng-click="editRule(rule)")
          td.decision-table__handler: i.glyphicon.glyphicon-menu-hamburger
          td.border-right
            div(ng-if="rule.isEditing")
              input.form-control(ng-model="rule.title", placeholder="Title")
              input.form-control(ng-model="rule.description", placeholder="Description")
            div(ng-if="!rule.isEditing")
              b {{rule.title}}
              .small {{rule.description}}
          td(ng-repeat="condition in rule.conditions", ng-class="{'is-deleted': table.fields[$index].isDeleted}")
            field-static(ng-if="!rule.isEditing", condition="condition.condition", value="condition.value")
            field(ng-if="rule.isEditing", type="table.fields[$index].preset ? 'bool' : table.fields[$index].type", condition="condition.condition", value="condition.value")
          td.border-left
            div.form-control-static(ng-if="!rule.isEditing") {{rule.decision}}
            div(ng-if="rule.isEditing")
              select.form-control(ng-model="rule.decision", ng-options="decision for decision in decisions")

          td: .decision-table__actions.form-control-static
            div(ng-if="rule.isDeleted")
              a.btn.btn-default(ng-click="revertRule(rule)"): i.glyphicon.glyphicon-repeat
            div(ng-if="!rule.isDeleted")
              a.btn.btn-default(ng-click="saveRule(rule, ruleForm)", stop-propagation="click", ng-if="rule.isEditing"): i.glyphicon.glyphicon-ok
              a.btn.btn-default(ng-click="editRule(rule)", ng-if="!rule.isEditing"): i.glyphicon.glyphicon-pencil
              a.btn.btn-default(ng-click="deleteRule(rule)"): i.glyphicon.glyphicon-remove

    // fixed table footer and add row link
    table.table
      tbody.decision-table__add-row: tr: td
        a(ng-click="addNewRule()") + Add new row
      tfoot.table-footer: tr: td
        .decision-table__default-result.pull-left
          .form-inline: .form-group
            label Default Decision:
            select.form-control(ng-model="table.defaultResult", ng-options="decision for decision in decisions")
        .pull-right
          button.btn.btn-success.btn-loading(ng-if="!saved", ng-click="save()", ng-class="{'is-active': isSaving}") Save
            .btn-loader
              .glyphicon.glyphicon-refresh
          button.btn.btn-default(disabled, ng-if="saved")
            i.glyphicon.glyphicon-check
            | &nbsp;
            | Saved

  br
  div.row
    .col.col-xs-6
      a.btn.btn-danger(ng-click="deleteTable(table)") Delete
    .col.col-xs-6.text-right
      a(ui-sref="history-list({tableId: table.id})") Decisions History for this Table →
  br
  br
  .panel.panel-default: .panel-body
    include:marked ../content/guides/decision-tables.md
    pre
      | $ curl -uAPI_KEY:API_SECRET http://gandalf-api.nebo15.com/api/v1/tables/{{table.id}}/decisions \
      |   -d '{{getSampleCheck(table)}}'


