.editor.ng-cloak(ng-if="table")
  .form-group: input.form-control.editor__title(ng-model="table.title", placeholder="Untitled project")
  .form-group: input.form-control.editor__description(ng-model="table.description", placeholder="Description")
  .decision-table
    table.table
      thead: tr
        th #
        th(ng-repeat="condition in table.fields", ng-click="editField(condition)") {{condition.title}}
          .small.text-light {{condition.alias}}
        th.border-left.decision-table__result-column.decision-table__add-column Decision
          a.decision-table__add-column__icon(ng-click="addNewField()") +
        th Action
      tfoot.table-footer: tr: td(colspan="{{table.fields.length + 3}}")

        .decision-table__default-result.pull-left
          .form-inline: .form-group
            label Default result:
            select.form-control(ng-model="table.defaultResult")
              option(value="Approve") Approve
              option(value="Decline") Decline
              option(value="Manual") Manual
        .pull-right
          button.btn.btn-default(ng-click="save()", ng-if="!saved") Save
          button.btn.btn-default(disabled, ng-if="saved")
            i.glyphicon.glyphicon-check
            | &nbsp;
            | Saved

      tbody(ui-sortable="sortableOptions", ng-model="table.rules")
        tr(ng-repeat="rule in table.rules"): td.decision-table__handler: i.glyphicon.glyphicon-menu-hamburger
          td(ng-repeat="condition in rule.conditions")
            div.form-control-static(ng-if="!rule.isEditing") {{condition.condition | condition}} {{condition.value.toString()}}
            field(ng-if="rule.isEditing", type="table.fields[$index].type", condition="condition.condition", value="condition.value")

          td.border-left
            div.form-control-static(ng-if="!rule.isEditing") {{rule.decision}}
            div(ng-if="rule.isEditing")
              select.form-control(ng-model="rule.decision")
                option(value="Approve") Approve
                option(value="Decline") Decline
                option(value="Manual") Manual

          td.decision-table__description-wrap
            .decision-table__actions.form-control-static

              a.btn.btn-default(ng-click="rule.save()", ng-if="rule.isEditing"): i.glyphicon.glyphicon-ok
              a.btn.btn-default(ng-click="rule.edit()", ng-if="!rule.isEditing"): i.glyphicon.glyphicon-pencil
              a.btn.btn-default(ng-click="table.deleteRule(rule)"): i.glyphicon.glyphicon-remove

              .decision-table__description(ng-if="rule.isEditing"): textarea.form-control(ng-model="rule.description")
              .decision-table__description(ng-if="!rule.isEditing") {{rule.description}}

      tbody.decision-table__add-row: tr: td(colspan="{{table.fields.length + 3}}")
        a(ng-click="addNewRule()") Add new row
  .editor__example
    h5 Example curl
    pre
      | $ curl http://gandalf-api.nebo15.com/api/v1/tables/{{table.id}}/check \
      |   -H "Authorization: API_KEY:API_SECRET" \
      |   -d '{{getSampleCheck(table)}}'

    h5 History
    a(ui-sref="history-list({tableId: table.id})") Decisions History for this Table
