.panel.panel-default: .panel-body
  include:marked ../content/guides/decision-tables-list.md
div: a.btn.btn-default(ui-sref="decision-create") + Add table
br
p.list-group
  a.list-group-item(ui-sref="decision-details({id: table.id})", ng-repeat="table in tables")
    b.list-group-item-heading {{table.title || 'Untitled project'}}
    br
    span: i.list-group-item-text {{table.description}}
uib-pagination(ng-if="filters.total", total-items="filters.total" ng-model="filters.page", items-per-page="filters.size", max-size="5")
