//.panel.panel-default: .panel-body
  include:marked ../content/guides/decision-tables-list.md
div: a.btn.btn-default(ui-sref="groups-create") + Create Group
br
p.list-group
  a.list-group-item(ui-sref="tables-details({id: table.id})", ng-repeat="group in groups")
    b.list-group-item-heading {{group.title}}
    span(ng-if="group.description")
      br
      span: i.list-group-item-text {{group.description}}
uib-pagination(ng-if="filters.total", total-items="filters.total", ng-model="filters.page", items-per-page="filters.size", max-size="5")
