.info-panel.has-navbar: .container-fluid
  .info-panel-heading Decisions History
  .info-panel-body
    include:marked ../content/guides/decision-history-list.md

.container-fluid
  .row: .col-sm-4: form
    .form-group
      input.form-control(type="search", ng-if="isShowSearch", ng-model="filters.table.title", placeholder="Start typing table name..",
        typeahead-on-select="onSelectTable($item, $model, $label, $event)",
        uib-typeahead="table.title for table in searchHistories($viewValue)")

  .table-responsive: table.table
    thead
      tr
        th ID
        th Timestamp
        th Decision name
          .small.light Decision description
        th Table info
        th Decision
        th Action
    tr(ng-repeat="table in tables")
      td: a(ui-sref="history-details({id: table.id})") {{table.id | last: 6}}
      td {{table.createdAt | date: 'M/d/yy HH:mm:ss'}}
      td {{table.title}}
        .small.light {{table.description}}
      td Table name: &nbsp
        b {{table.table.title}}
        br
        | Table variant: &nbsp
        b {{table.variant.title}}
      td {{table.finalDecision}}
      td: a(ui-sref="history-details({id: table.id})") Show Details


  uib-pagination(ng-if="filters.total", total-items="filters.total", boundary-link-numbers="true", rotate="true",
    ng-model="filters.page", items-per-page="filters.size", max-size="5")
