.history-page
  .panel.panel-default: .panel-body
    include:marked ../content/guides/decision-history-list.md

  .history: table.table.history__table
    thead.history__head
      tr
        th Timestamp
        th Table Name
        th Decision
        th Action
    tr(ng-repeat="table in tables", ng-click="toggleExpandTable(table)")
      td {{table.createdAt | date: 'short'}}
      td {{table.title}}
      td {{table.decision}}
      td: a(ui-sref="history-details({id: table.id})") Show Details

  uib-pagination(total-items="filters.total" ng-model="filters.page", items-per-page="filters.size", max-size="5")
