.panel.panel-default: .panel-body
  include:marked ../content/guides/decision-history.md


h4 History Details
.history-detail
  h5 Request
  div.preview
    div.preview__external
      a.btn.btn-clear(ui-sref="debugger-details({id: table.table.id, decision: table})") Debug
        | &#32;
        i.glyphicon.glyphicon-export
    div.preview__response(hljs, hljs-source="(table.request | json: 2)")

  h5 Final Decision
  p {{table.decision}}
  h5 Default Decision
  p {{table.defaultResult}}
  h5 Decision Flow
  .history-detail__table.decision-table.ng-cloak(ng-if="table")
    .table-responsive: table.table
      thead: tr
        th.decision-table__column--index #
        th.decision-table__column--title Title
          .small.text-light description
        th(ng-repeat="condition in table.fields") {{condition.title}}
        th Decision
      tbody
        tr(ng-repeat="rule in table.rules")
          td {{$index}}
          td
            b {{rule.title}}
            .small {{rule.description}}
          td.decision-table__condition(
          ng-repeat="condition in rule.conditions",
          ng-class="{'is-matched': condition.matched, 'is-unmatched': !condition.matched}") {{condition.condition | condition}} {{condition.value.toString()}}
          td.border-left.decision-table__condition(ng-class="{'is-matched': rule.finalDecision, 'is-unmatched': !rule.finalDecision}")
            | {{rule.decision}}
