.reset-password
  h4.reset-password__header Reset Password
  .reset-password__content
    form(ng-submit="submit(form)", name="form", novalidate, ng-if="!sent")
      .form-group
        input.form-control.form-control-underline(
          name="email",
          type="email",
          ng-model="model.email",
          required,
          placeholder="E-mail address"
        )
      .btn-actions.text-center
        button.btn.btn-submit(type="submit") Continue
    div(ng-if="sent")
      h2 Check email
      p We've sent you an email. Please check you email account and follow instructions.
