.container
  ul.nav.nav-tabs.main-nav
    li(role="presentation" ui-sref-active="active" ui-sref='.edit'): a Edit
    li(role="presentation" ui-sref-active="active" ui-sref='.analytics'): a Analytics
    li(role="presentation" ui-sref-active="active" ui-sref='.revisions'): a Revisions
    li(role="presentation" ui-sref-active="active" ui-sref='.debugger'): a Debugger
    li(role="presentation" ui-sref="history-list({tableId: table.id})"): a History →
div.main-content.has-nav
  div.container: .row: .col-md-12(ui-view="")
