form.has-navbar.ng-cloak(ng-if="table", novalidate, ng-submit="submit(form)", name="form")

  .info-panel: .container-fluid
    .info-panel-breadcrumb(ncy-breadcrumb)
    .info-panel-body
      .row: .col-sm-6
        .form-group: input.form-control.form-control-underline(ng-model="table.title", placeholder="Project name")
        .form-group: input.form-control.form-control-underline(ng-model="table.description", placeholder="Description")

  .container-fluid
    decision-table(model="table")
      button.btn.btn-success.btn-loading(type="submit", ng-class="{'is-active': isSaving}")
        .btn-loader: .glyphicon.glyphicon-refresh
        | Create
