.info-panel.has-navbar: .container-fluid
  .info-panel-heading Decision Tables
  .info-panel-body
    include:marked ../content/guides/decision-tables-list.md

.container-fluid
  div: a.btn.btn-primary.btn-icon(ui-sref="tables-create")
    i.glyphicon.glyphicon-plus.btn-glyphicon
    | Create table
  br
  p.list-group
    a.list-group-item(ui-sref="tables-details({id: table.id})", ng-repeat="table in tables")
      b.list-group-item-heading {{table.title || 'Untitled project'}}
      br
      span: i.list-group-item-text {{table.description}}
  uib-pagination(ng-if="filters.total", total-items="filters.total" ng-model="filters.page", items-per-page="filters.size", max-size="5")

