.info-panel.has-navbar: .container-fluid
  .info-panel-heading Tables Revisions
  .info-panel-body
    include:marked ../content/guides/tables-revisions.md

.container-fluid
  div.list-group
    div.list-group-item.clearfix(ng-repeat="changelog in changelogs")
      span.pull-right
        a.btn.btn-warning(ng-click="rollbackChangelog(changelog)", ng-if="project.hasUserAccess('tables', 'update')") Rollback
      b.list-group-item-heading {{changelog.updatedAt | date: 'medium'}}
      br
      span by {{changelog.author}}
