.info-panel.has-navbar: .container-fluid
  .info-panel-heading Decisions Analytics
  .info-panel-body
    include:marked ../content/guides/decision-history-list.md

.container-fluid.ng-cloak(ng-if="table")

  .table-responsive: table.table.table-decision
    thead: tr
      th.table-decision-column-index #
      th.table-decision-column-title Title
        .small.text-light description
      th.table-decision-column-condition(ng-repeat="field in table.fields")
        .text-overflow {{field.title}}
      th.table-decision-column-decision Decision
    tbody
      tr(ng-repeat="rule in variant.rules")
        td.table-decision-column-index {{$index}}
        td
          b {{rule.title}}
          .small {{rule.description}}
        td.decision-table__condition(
        ng-repeat="condition in rule.conditions",
        green-red-gradient="condition.probability") {{condition.condition | condition}} {{condition.value.toString()}}
          p {{condition.probability * 100 | toFixed: 1}} %
        td.border-left.decision-table__condition(green-red-gradient="rule.probability")
          | {{rule.than}}
          p {{rule.probability * 100 | toFixed: 1}} %
