.info-panel.has-navbar: .container-fluid
  .info-panel-heading Decision Tables
  .info-panel-body
    include:marked ../content/guides/decision-tables-list.md

.container-fluid
  div(ng-if="project.hasUserAccess('tables', 'create')"): a.btn.btn-primary.btn-icon(ui-sref="tables-create")
    i.glyphicon.glyphicon-plus.btn-glyphicon
    | Create table
  br

  table.table.table-hover.tables-list
    thead
      tr
        th Name
        th Description
    tbody
      tr(ng-repeat="table in tables", ui-sref="tables-details({id: table.id})")
        td(width="30%")
          .text-overflow {{table.title}}
        td {{table.description}}
      tr(ng-if="tables.length === 0")
        td.text-center(colspan="2")
          i
            | You don't have any tables.&nbsp;
            a(ui-sref="tables-create", ng-if="project.hasUserAccess('tables', 'create')") Create your first table!

  uib-pagination(ng-if="filters.total", total-items="filters.total" ng-model="filters.page", items-per-page="filters.size", max-size="5")
