// Button Loading

@import ../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/buttons

@keyframes rotate360
  from
    transform: rotate(0deg)
  from
    transform: rotate(359deg)

.btn-loading
  .btn-loader
    display: none
    margin-right: 10px
    .glyphicon
      margin-right: 0

      animation: rotate360 1s linear infinite
      background-color: transparent
      outline: none

  &.is-active
    .btn-loader
      display: inline-block


=btn-glyphicon-variant($name, $bg-color)
  .btn-#{$name} &
    background-color: $bg-color
  .btn-#{$name}:disabled &,
  .btn-#{$name}[disabled] &
    background-color: $bg-color !important

  .btn-#{$name}:hover &
    background-color: darken($bg-color, 17%)

  .btn-#{$name}.active &,
  .btn-#{$name}:focus &,
  .btn-#{$name}:active &
    background-color: darken($bg-color, 25%)

.btn-glyphicon

  margin-left: -1* $padding-base-horizontal

  margin-top: (-1*$padding-base-vertical)-1px
  margin-bottom: -1* $padding-base-vertical
  margin-right: $padding-base-horizontal

  padding: $padding-base-vertical $padding-base-horizontal

  &.btn-glyphicon-right
    margin-left: $padding-base-horizontal
    margin-right: -1* $padding-base-horizontal

  color: white
  line-height: inherit

  +btn-glyphicon-variant(default, $btn-default-border)
  +btn-glyphicon-variant(primary, $btn-primary-border)
  +btn-glyphicon-variant(warning, $btn-warning-border)
  +btn-glyphicon-variant(success, $btn-success-border)
  +btn-glyphicon-variant(danger,  $btn-danger-border)

.btn-actions
  margin-top: 20px


.btn-primary-clear
  +button-variant($brand-primary, transparent, $brand-primary)


.btn-primary-text
  +button-variant($brand-primary, transparent, transparent)
.btn-danger-text
  +button-variant($brand-danger, transparent, transparent)
.btn-success-text
  +button-variant($brand-success, transparent, transparent)
.btn-warning-text
  +button-variant($brand-warning, transparent, transparent)

.btn-primary-icon

  +button-variant(#3d3d3d, transparent, $btn-primary-bg)
  border-radius: 0
