doctype html
html
  head(lang='en')
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title <%= appname %>
    link(rel='stylesheet', href='css/app.css')
  body.container.app
    .row
      .col.col-md-12
        .decision-table.table-responsive
          table.table
            thead
              tr
                th.decision-table__col--order #
                th Col1
                th Col1
                th Col1
                th.decision-table__col---result Result
            tfoot.table-footer
              tr
                td(colspan="5") Add new row
            tbody
              tr
                td 0
                td true
                td Some value
                td > 500
                td Approve
              tr
                td 0
                td true
                td Some value
                td > 500
                td Approve
              tr
                td 0
                td true
                td Some value
                td > 500
                td Approve


    // build:js js/app.min.js

    // bower:js
    // endbower

    script(src='js/config.js')
    script(src='js/app.js')
    // endbuild

