doctype html
html
  head(lang='en')
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title <%= appname %>
    link(rel='stylesheet', href='css/app.css')
  body.container
    .row.row-centered
      .welcome.col-md-6.col-centered
        h1 Hello, <%= appname %>
        p We've created generator to speed up project starting process.
        p Generator configured project for using:
        ul
          li gulp
          li sass/scss + compass
        p
          | We've also added
          code .editorconfig
          |  and
          code .jshintrc
          |  to simplify your team collaboration.
        ul
          li SASS. Boostrap 3 Grid, Akella's Lib (See Github)
          li Gulp. Deploy Gh-pages, Build
          li Images. Sprites generators via Compass
        h2 Requirements
        ul
          li Compass
          li NPM
          li Bower
        p I've also included configurations for JSHint, but it had been configured.
        p
          i.icon.icon-logo

    script(src='js/app.js')
