doctype html
html(ng-app="app")
  head(lang='en')
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title Gandalf
    link(rel='stylesheet', href='css/app.css')

  body.app
    include ./partitials/navbar
    .container
      div(ncy-breadcrumb)
      .row: .col.col-md-12(ui-view)
    include ./partitials/footer
    // build:js js/app.min.js


    script(src='https://wzrd.in/standalone/deep-freeze@latest')

    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/jquery-ui/jquery-ui.js')

    script(src='bower_components/bootstrap-sass/assets/javascripts/bootstrap.js')

    script(src='bower_components/angular/angular.js')
    script(src='bower_components/angular-ui-router/release/angular-ui-router.js')
    script(src='bower_components/ngstorage/ngStorage.js')

    script(src='bower_components/angular-bootstrap/ui-bootstrap.js')
    script(src='bower_components/angular-bootstrap/ui-bootstrap-tpls.js')

    script(src='bower_components/angular-ui-sortable/sortable.js')
    script(src='bower_components/angular-breadcrumb/dist/angular-breadcrumb.js')

    script(src='js/config.js')

    script(src='js/modules/gandalf/gandalf.js')

    script(src='js/modules/gandalf/models/field.js')

    script(src='js/modules/gandalf/models/rule.js')
    script(src='js/modules/gandalf/models/rule-condition.js')
    script(src='js/modules/gandalf/models/table.js')

    script(src='js/modules/gandalf/models/history-table.js')
    script(src='js/modules/gandalf/models/history-rule.js')
    script(src='js/modules/gandalf/models/history-rule-condition.js')

    script(src='js/modules/gandalf/services/gandalf.js')

    script(src='js/modules/conditions.js')
    script(src='js/app.js')

    script(src='js/configs/api.js')
    script(src='js/configs/states.js')

    script(src='js/directives/field.js')
    script(src='js/directives/field-static.js')

    script(src='js/directives/show-errors.js')

    script(src='js/filters/json.js')
    script(src='js/filters/no-empty.js')

    script(src='js/controllers/add-field-controller.js')

    script(src='js/controllers/decision-details-controller.js')
    script(src='js/controllers/decision-create-controller.js')
    script(src='js/controllers/decision-list-controller.js')

    script(src='js/controllers/history-details-controller.js')
    script(src='js/controllers/history-list-controller.js')
    // endbuild

