doctype html
html(ng-app="app")
  head(lang='en')
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title Gandalf - Open-Source Decision Engine for Big-Data
    link(rel="icon", href="/images/favicon.ico?v=123123", type="image/x-icon")
    link(rel="shortcut icon", href="/images/favicon.ico?v=123123", type="image/x-icon")
    link(rel='stylesheet', href='css/app.css')
    link(rel='stylesheet', href='bower_components/highlightjs/styles/github.css')

  body.app
    include ./partitials/navbar
    .container
      div(ncy-breadcrumb)
      .row: .col.col-md-12(ui-view)
    include ./partitials/footer

    // build:js js/app.min.js
    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/jquery-ui/jquery-ui.js')

    script(src='bower_components/bootstrap-sass/assets/javascripts/bootstrap.js')

    script(src='bower_components/angular/angular.js')
    script(src='bower_components/angular-ui-router/release/angular-ui-router.js')
    script(src='bower_components/ui-router-extras/release/ct-ui-router-extras.js')

    script(src='bower_components/bugsnag/src/bugsnag.js', data-inlinescript="false")
    script(src='bower_components/angular-bugsnag/dist/angular-bugsnag.js')

    script(src='bower_components/ngstorage/ngStorage.js')

    script(src='bower_components/angular-bootstrap/ui-bootstrap.js')
    script(src='bower_components/angular-bootstrap/ui-bootstrap-tpls.js')

    script(src='bower_components/angular-ui-sortable/sortable.js')
    script(src='bower_components/angular-breadcrumb/dist/angular-breadcrumb.js')

    script(src='bower_components/lodash/lodash.js')

    script(src='bower_components/highlightjs/highlight.pack.js')

    script(src='bower_components/angular-highlightjs/angular-highlightjs.js')

    script(src='js/config.js')

    script(src='js/modules/gandalf/gandalf.js')

    script(src='js/modules/gandalf/models/field.js')

    script(src='js/modules/gandalf/models/rule.js')
    script(src='js/modules/gandalf/models/rule-condition.js')
    script(src='js/modules/gandalf/models/table.js')

    script(src='js/modules/gandalf/models/history-table.js')
    script(src='js/modules/gandalf/models/history-rule.js')
    script(src='js/modules/gandalf/models/history-rule-condition.js')

    script(src='js/modules/gandalf/services/gandalf.js')
    script(src='js/modules/gandalf/services/utils.js')

    script(src='js/modules/conditions.js')
    script(src='js/modules/ng-equal.js')

    script(src='js/modules/lodash.js')

    script(src='js/app.js')

    script(src='js/configs/auth.js')
    script(src='js/configs/bugsnag.js')

    script(src='js/configs/api.js')
    script(src='js/configs/states.js')

    script(src='js/directives/bigger-then.js')

    script(src='js/directives/boolean-select.js')

    script(src='js/directives/condition-input.js')
    script(src='js/directives/doubled-input.js')

    script(src='js/directives/skip-form.js')

    script(src='js/directives/field.js')
    script(src='js/directives/field-static.js')

    script(src='js/directives/show-errors.js')
    script(src='js/directives/stop-propagation.js')

    script(src='js/directives/archive-values.js')

    script(src='js/directives/components/select-matching-type.js')
    script(src='js/directives/components/decision-input.js')
    script(src='js/directives/components/add-new-field.js')

    script(src='js/filters/json.js')
    script(src='js/filters/no-empty.js')
    script(src='js/filters/sample-curl.js')

    script(src='js/services/auth.js')

    script(src='js/controllers/sign-in-controller.js')

    script(src='js/controllers/add-field-controller.js')
    script(src='js/controllers/revert-field-controller.js')

    script(src='js/controllers/debugger-details-controller.js')

    script(src='js/controllers/delete-table-controller.js')

    script(src='js/controllers/tables-details-controller.js')
    script(src='js/controllers/tables-create-controller.js')
    script(src='js/controllers/tables-list-controller.js')

    script(src='js/controllers/history-details-controller.js')
    script(src='js/controllers/history-list-controller.js')
    // endbuild
