doctype html
html(ng-app="app")
  head(lang='en')
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title Decision Table
    link(rel='stylesheet', href='css/app.css')
  body.container.app(ng-controller="MainController")
    .row
      .col.col-md-12
        .table-responsive
          .decision-table.ng-cloak(ng-if="rules")
            table.table
              thead
                tr
                  th #
                  th(ng-repeat="condition in conditions") {{condition.title}}
                  th.decision-table__add-column
                    a.decision-table__add-column__icon(ng-click="addNewCondition()") +
                    | Result
              tfoot.table-footer
                tr
                  td(colspan="{{conditions.length + 2}}", ng-click="addNewRule()") Add new row
              tbody
                tr(ng-repeat="rule in rules | orderBy: rule.priority")
                  td {{rule.priority}}
                  td(ng-repeat="condition in rule.conditions") {{condition.value.toString()}}
                  td {{rule.result}}

    // build:js js/app.min.js

    script(src='bower_components/angular/angular.js')

    script(src='js/config.js')
    script(src='js/modules/gandalf.js')
    script(src='js/app.js')
    // endbuild

