.modal-header
  h3.modal-title Changing decision type
.modal-body Changing decision type will affect changes in all decision result fields.
.modal-footer
  button.btn.btn-default(type="button", ng-click="cancel()") Cancel
  button.btn.btn-success(type="button", ng-click="confirm()") Confirm
