form(ng-submit="save(form)", name="form", novalidate)
  .modal-header
    h3.modal-title Edit collaborator
  .modal-body
    .form-horizontal
      .form-group
        label.col-sm-2.control-label Username
        .col-sm-10: .form-control-static {{user.username}}
      .form-group
        label.col-sm-2.control-label Email
        .col-sm-10: .form-control-static {{user.email}}
      hr
      .form-group(show-errors)
        label.col-sm-2.control-label Role
        .col-sm-10
          select.form-control(ng-model="user.role", ng-disabled="currentUser.role !== 'admin'", required, ng-options="role as role for role in ['manager', 'admin']")
      .form-group(show-errors)
        label.col-sm-2.control-label Scopes
        .col-sm-10.form-control-block
          user-scope-list(model="user.scope", required="isRequired()")
  .modal-footer.clearfix
    .pull-left
      button.btn.btn-danger(type='button', ng-if="user.id !== currentUser.id", ng-click='remove()', confirm="Are you sure? You will lost access to the project") Remove
    .pull-right
      button.btn.btn-warning(type='button', ng-click='cancel()') Cancel
      button.btn.btn-primary(type='submit') Save
