//footer.footer: .container-fluid: p © <a href="http://nebo15.com/">Nebo #15</a>, 2016.
footer.public__footer
  a(href="http://nebo15.com/" target="_blank")
    img(src="/images/footer-logo.png", height=23)
