nav.navbar.navbar-default.navbar-static-top
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type='button',
        data-toggle='collapse',
        data-target='#navbar-menu',
        aria-expanded='false'
        )
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#') Gandalf

    #navbar-menu.collapse.navbar-collapse
      ul.nav.navbar-nav
        li(ui-sref-active="active"): a(ui-sref="decision-list") Tables
        li(ui-sref-active="active"): a(ui-sref="history-list") History
